@CHARSET "UTF-8";

.header {
	background-color: #337ab7;
	height: 70px;
}

body {
	background-color: rgb(220, 220, 220);
}

.container {
	padding-right: 0;
	padding-left: 0;
	width: 100%;
}

.table-bordered>tbody>tr>th, .table>tbody>tr>td {
	border: 2px solid white;
}

.table {
	margin-left: 5%;
	width: 90%;
}

h5 {
	color: white;
}
